[user]
	email = git@elia.garden
	name = Ellie Leela Ang.
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[alias]
	pall = !git remote | xargs -L1 -I R git push R main