.time-text {
    margin: 50px 100px 30px;
    font-size: 5em;
    color: $lavender;
}

.date-box {
    background-color: $mantle;
    border-radius: 30px;
}

.week-text {
    margin-top: 20px;
    font-size: 1.5em;
    color: $subtext0;
}

.day-text-box {
    margin: 10px 40px;
}

.day-text-box label, .day-text {
    font-size: 2em;
    margin: 0;
    padding: 0;
    color: $text;
    border-radius: 15px;
}

.date-text {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: $text;
}


.settings-buttons {
    background-color: $mantle;
    border-radius: 20px;
    margin: 20px;
}

.qs-tile {
    background-color: $surface0;
    margin: 20px;
    font-size: 1.5em;
    border-radius: 1000px;
}

.qs-tile:hover {
    background-color: $subtext0;
}

.active {
    background-color: $red;
}

.qs-tile-slide {
    margin: 0 20px;
}

.qs-tile-slide > .qs-tile {
    margin: 5px;
}

.qs-tile-slide scale {
    margin: 10px;

    trough {
        background-color: $subtext0;
        min-height: 20px;
        border-radius: 300px;
        padding-right: 10px;
    }

    slider, fill, highlight, marks, value {
        background-color: $mauve;
    }

    fill, highlight, value {
        padding-left: 10px;
    }

    fill, highlight {
        border-radius: 300px 0 0 300px;
    }
}

.power-box button {
    font-size: 3em;
    background-color: $mantle;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.power-box button:hover {
    background-color: $subtext0;
}