@import 'styles/left';
@import 'styles/workspace_popup';
@import 'styles/clock';

.closer {
    background-color: rgba(0, 0, 0, 0);
}

.bgbox, .bgbox_layout, .bgbox_layout * {
    background-color: rgba(0, 0, 0, 0);
}

.bg-time {
    font-size: 0.8em;
}
