@import 'styles/left';
@import 'styles/workspace_popup';
@import 'styles/clock';

.closer {
    background-color: rgba(0, 0, 0, 0);
}

.bgbox {
    background-color: $crust;
}

.bg-time {
    font-size: 0.8em;
}
