.sysinfo {
    font-size: 1.2em;
    padding-bottom: 200px;
    color: $text;
}

.pfp {
    border-radius: 1000px;
    margin-bottom: 10px;
}

.sep {
    color: $mauve;
    font-weight: 900;
    margin: 10px 0;
}

.uptime {
    margin-bottom: 20px;
}

.workspaces button {
    background-color: $mantle;
    border-radius: 15px;
    margin: 10px;
    padding: 20px 30px;
}

.workspaces button:hover {
    background-color: $subtext0;
}