@import 'colours';

* {
    font-family: "Iosevka";
}

.app-menu-closer {
    background-color: rgba(0, 0, 0, 0);
}

.app-menu {
    background-color: $crust;
    border-radius: 150px 0 0 150px;
}

.appmenu-box {
    padding: 50px 20px;
}

.search, .input {
    font-size: 1.5em;
    background-color: $surface0;
}

.icon {
    margin: 10px;
}

.search {
    border-radius: 15px;
}

.apps-row-box {
    margin-top: 30px;
}

.app-button {
    margin: 5px;
}
