@import 'colours';
@import 'left';
@import 'center';
@import 'right';

* {
    font-family: "Iosevka";
}

.big-menu-closer {
    background-color: rgba(0, 0, 0, 0);
}

.big-menu {
    background-color: rgba(0, 0, 0, 0);
}

.bigmenu-box {
    padding: 100px 100px;
}

.blob-box {
    background-color: $crust;
    border-radius: 30px;
    padding: 10px;
    margin: 15px;
}
