.appmenu-box {
    padding: 50px 20px;
}

.search, .input {
    font-size: 1.5em;
    background-color: $surface0;
}

.icon {
    margin: 10px;
}

.search {
    border-radius: 20px;
    margin: 20px;
}

.apps-row-box {
    margin-top: 30px;
}

.app-button {
    margin: 20px;
}

.notif-box {
    margin-top: 70px;
    font-size: 1.2em;
}

.notif-box-inner {
    margin-bottom: 20px;
    padding: 20px;
}

.notif-app {
    margin-top: 20px;
}

.notif-title {
    font-weight: bold;
}
