.clock-0, .clock-1 {
    border-radius: 0 0 0 1000px;
    background-color: $crust-trans;
    font-size: 1.5em;
}

.clock-0 label, .clock-1 label {
    margin: 3px 0 0 1.5em;
    color: $red;
}

.clock-0 button, .clock-1 button {
    background-color: rgba($color: #000000, $alpha: 0.0);
    padding: 0;
    margin: 0;
}
