.clock {
    border-radius: 1000px 0 0 0;
    background-color: $crust-trans;
    font-size: 1.5em;
}

.clock label {
    margin: 3px 0 0 1.5em;
    color: $red;
}

.clock button {
    background-color: rgba($color: #000000, $alpha: 0.0);
    padding: 0;
    margin: 0;
}
