$mauve: rgb(203, 166, 247);
$red: rgb(243, 139, 168);
$maroon: rgb(235, 160, 172);
$peach: rgb(250, 179, 135);
$yellow: rgb(249, 226, 175);
$green: rgb(166, 227, 161);
$teal: rgb(148, 226, 213);
$blue: rgb(137, 180, 250);

$lavender: rgb(180, 190, 254);
$subtext0: rgb(166, 173, 200);
$surface0: rgb(49, 50, 68);
$mantle: rgb(24, 24, 37);
$crust: rgb(17, 17, 27);
$crust-trans: rgba(17, 17, 27, 0.7);
