@import 'colours';

.workspace-popup, .workspace-popup {
    background-color: $crust-trans;
    border-radius: 50px 0 50px 0;
}

.active {
    color: $red;
    font-size: 8em;
}

.inactive {
    font-size: 4em;
}
