{
    "layer": "top",
    "position": "bottom",
    "height": 34,
    "modules-left": [
        "custom/launcher",
        "hyprland/window"
    ],
    "modules-center": [
        "wlr/workspaces"
    ],
    "modules-right": [
        {% if mobile_device %}
        "battery",
        "backlight",
        {% endif %}
        "temperature",
        "pulseaudio",
        "network",
        "clock#date",
        "clock",
        "custom/power"
    ],
    "custom/launcher": {
        "tooltip": false,
        "format": "",
        "on-click": "~/.config/rofi/apps.sh"
    },
    "hyprland/window": {
        "format": "﯑ {}"
    },
    "wlr/workspaces": {
        "on-click": "activate",
        "format": "{name}",
        "active-only": false,
        "sort-by-number": true
    },
    "battery": {
        "states": {
            "good": 95,
            "warning": 30,
            "critical": 15
        },
        "format": "{icon} {capacity}%",
        "format-charging": " {capacity}%",
        "format-plugged": " {capacity}%",
        "format-alt": "{icon} {time}",
        "format-icons": [
            "",
            "",
            "",
            "",
            ""
        ]
    },
    "backlight": {
        "format": "{icon} {percent}%",
        "format-icons": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
        ],
        "on-scroll-up": "brightnessctl s 1%+",
        "on-scroll-down": "brightnessctl s 1%-"
    },
    "pulseaudio": {
        "scroll-step": 1,
        "format": "{icon} {volume}%",
        "format-icons": {
            "headphone": "",
            "hands-free": "",
            "headset": "",
            "phone": "",
            "portable": "",
            "car": "",
            "default": [
                "",
                "",
                ""
            ]
        },
        "on-click": "pavucontrol"
    },
    "network": {
        {% if mobile_device %}
        "interface": "wlan*",
        {% else %}
        "interface": "eth*",
        {% endif %}
        "format-wifi": " {essid} ({signalStrength}%)",
        "format-ethernet": " {ipaddr}",
        "tooltip-format": "{ifname} via {gwaddr} ",
        "format-linked": "{ifname} (No IP) ",
        "format-disconnected": "Offline",
        "format-alt": "{ifname}: {ipaddr}/{cidr}"
    },
    "clock": {
        "timezone": "Europe/Brussels",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format": " {:%H:%M}",
        "format-alt": " {:%H:%M:%S}",
        "interval": 1
    },
    "clock#date": {
        "timezone": "Europe/Brussels",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format": " {:%a %b %d}",
        "format-alt": " {:%A, %d %B %Y}"
    },
    "temperature": {
        "critical-threshold": 80,
        "format": "{icon} {temperatureC}°C",
        "format-icons": [
            "",
            "",
            ""
        ]
    }
}