ff_profile_dir: 1235        # FF profile directory in .mozilla/firefox

mobile_device: False        # If this is a mobile device (show SSID and battery in polybar)

additional_pkgs:            # Additional pkgs to install
exclude_pkgs:               # pkgs from the base set to exclude
