/* Hide main tabs toolbar */
#TabsToolbar {
  visibility: collapse;
}

/* Adjust lock icon to be closer to edge */
#identity-box {
  padding-inline-start: 2px !important;
}

/* Center URL */
#urlbar .urlbar-input-box #urlbar-input {
  text-align: center !important;
  margin-bottom: 1px;
}

/* Bookmark padding */
toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 0 6px !important;
  border-radius: 0 !important;
}

/* Get rid of bookmark icon */
.bookmark-item .toolbarbutton-icon {
  display: none;
}

/* Sidebar min and max width removal */
#sidebar {
  max-width: none !important;
  min-width: 0px !important;
}


/* Remove below if not using TreeStyleTab extension */
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box+#sidebar-splitter {
  display: none !important;
}

/* Hide sidebar header, when using Tree Style Tab. */
#sidebar-box #sidebar-header {
  visibility: collapse;
}

/* Hide on hover */
:where(#main-window) #browser{
  --uc-sidebar-width: 32px;
  --uc-sidebar-hover-width: 210px;
}
#main-window[sizemode="fullscreen"] #browser{
  --uc-sidebar-width: 1px;
}
#sidebar-box{
  --uc-autohide-sidebar-delay: 0ms; /* Don't wait before hiding sidebar */
  --uc-autohide-transition-duration: 200ms;
  --uc-autohide-transition-type: ease-in-out;
  --browser-area-z-index-sidebar: 3;
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index: var(--browser-area-z-index-sidebar,3);
  background-color: inherit;
  /* This directionality flipper is played so that sidebar "grows" into the right direction */
  direction: ltr;
  &:is([positionend],[sidebar-positionend]):not(:-moz-locale-dir(rtl)){
    direction: rtl;
  }
}
.sidebar-browser-stack{
  background: inherit;
}
#main-window[sizemode="fullscreen"] #browser{ --uc-sidebar-width: 1px; }

#sidebar-splitter{ display: none }

#sidebar-header{
  overflow: hidden;
  color: var(--chrome-color, inherit) !important;
  padding-inline: 0 !important;
}

#sidebar-header::before,
#sidebar-header::after{
  content: "";
  display: flex;
  padding-left: 8px;
}

#sidebar-header,
#sidebar{
  transition: min-width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
  direction: ltr;
  &:-moz-locale-dir(rtl){
    direction: rtl;
  }
}
#sidebar-box:hover > #sidebar-header,
#sidebar-box:hover > #sidebar,
#sidebar-box:hover > .sidebar-browser-stack > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important;
}

.sidebar-panel{
  background-color: transparent !important;
  color: var(--newtab-text-primary-color) !important;
}

.sidebar-panel #search-box{
  -moz-appearance: none !important;
  background-color: rgba(249,249,250,0.1) !important; 
  color: inherit !important;
}

/* Move statuspanel to the other side when sidebar is hovered so it doesn't get covered by sidebar */
#sidebar-box:not([positionend],[sidebar-positionend]):hover ~ #appcontent #statuspanel{
  inset-inline: auto 0px !important;
}
#sidebar-box:not([positionend],[sidebar-positionend]):hover ~ #appcontent #statuspanel-label{
  margin-inline: 0px !important;
  border-left-style: solid !important; 
}
@media -moz-pref("userchrome.autohide-sidebar.static-layout.enabled"){
  #sidebar-box{
    min-width: var(--uc-sidebar-width) !important;
    contain: size;
    box-shadow: var(--content-area-shadow);
  }
  #sidebar{
    min-width: var(--uc-sidebar-hover-width) !important;
  }
  .sidebar-browser-stack{
    overflow: hidden;
    width: 100%;
    transition: width var(--uc-autohide-transition-duration) var(--uc-autohide-transition-type) var(--uc-autohide-sidebar-delay);
    direction: ltr;
    &:hover{
      transition-delay: 0ms;
      width: var(--uc-sidebar-hover-width);
    }
    &:-moz-locale-dir(rtl){
      transition-property: transform,width !important;
    }
  }
  #sidebar-box[sidebar-positionend]:hover :is(#sidebar-header,#sidebar):-moz-locale-dir(ltr){
    transform: translateX(0);
    transition-delay: 0ms !important;
  }
  #sidebar-box:not([sidebar-positionend]):hover .sidebar-browser-stack:-moz-locale-dir(rtl){
    transform: translateX(calc(-1 * var(--uc-sidebar-hover-width) + var(--uc-sidebar-width)));
  }
  #sidebar-box[sidebar-positionend]:hover > .sidebar-browser-stack:-moz-locale-dir(rtl){
    transform: translateX(calc(var(--uc-sidebar-hover-width) - var(--uc-sidebar-width)));
    transition-delay: 0ms !important;
  }
}

/* Hide fullscreen warning */
@-moz-document url(chrome://browser/content/browser.xul){
#fullscreen-warning {
  display: none !important;
}
}

/* Misc themeing */
:root {
  --toolbox-border-bottom-color: transparent !important;
  /* 1px line under background tabs */
  --chrome-nav-bar-controls-border-color: transparent !important;
  /* border around url bar */
  --chrome-content-separator-color: transparent !important;
  /* border below tabs */
}

#urlbar {
  background-color: transparent !important;
  /* Transparent URL Bar */
  border-style: none !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  min-height: 32px !important;
  padding-top: 1px !important;
}

/* Remove padding above tabbar in compact mode */
#main-window[sizemode="normal"]>#titlebar {
  -moz-appearance: initial !important;
}

.toolbarbutton-icon,
.toolbarbutton-badge-stack,
.tab-close-button {
  border-radius: 0 !important;
}

#identity-box,
.urlbar-icon,
#star-button-box {
  border-radius: 0;
  max-height: 28px;
  margin-top: 2px;
}

#customization-panel-container,
#customization-panelWrapper .panel-arrow {
  margin-right: 4px !important;
  margin-left: 4px !important;
  transform: scale(1, 1) !important;
}

#appMenu-popup {
  margin-right: -258px !important;
}

#appMenu-popup .panel-arrow {
  margin-right: 248px !important;
}

/* Hide various elements */
/* Menu */
/* Makes popups, menus and context menus dark */
.panel-arrowcontent,
#alltabs-popup .arrowscrollbox-scrollbox,
menupopup:not(#BMB_bookmarksPopup),
.textbox-contextmenu {
  border: none !important;
}

/* bookmarks menu is different from others */
#BMB_bookmarksPopup {
  background-color: unset !important;
}

/* GENERAL */
menupopup {
  border: none;
}

menuitem,
menu {
  min-height: 24px !important;
}

menupopup menuseparator {
  -moz-appearance: none !important;
  background-color: #575268 !important;
  color: #575268 !important;
  border: none !important;
  min-height: 1px !important;
  max-height: 1px !important;
  height: 1px !important;
  margin: 3px 6px 3px 28px !important;
}

.menu-right {
  filter: invert(100%)
}

#context-navigation {
  background-color: transparent !important;
}

/* Pad hamburger on the right */
#navigator-toolbox #PanelUI-button {
  margin-right: 4px;
}

/* Pad back button on the left */
#back-button {
  margin-left: 4px !important;
}

.urlbarView-url {
  color: #f38ba8 !important;
}
